.archive-header {

	h1.archive-title {
		font-weight: 700;
		line-height: var(--wp--custom--line-height--body);
	}

	.wp-block-term-description {
		padding-top: var(--wp--preset--spacing--4);
	}

	.wp-block-query {
		&.is-style-3col-list {
			margin-top: var(--wp--preset--spacing--9);
		}
	}
}
