.site-header {
	position: relative;
}

// Fixed position floating nav
.site-header {

	&.absolute {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;

		.header-content {

			.wp-block-site-title,
			.wp-block-site-logo {
				z-index: 1000;
			}
		}
	}
}

.wp-block-navigation {

	&__responsive-container-open {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 2.5rem;
		height: 2.5rem;
	}
}

.wp-block-ainoblocks-flexbox.center {

	.wp-block-ainoblocks-flexbox {
		flex: 1;
		display: flex;
	}

	.wp-block-ainoblocks-flexbox:first-child>span {
		margin-right: auto;
	}

	.wp-block-ainoblocks-flexbox:last-child>span {
		margin-left: auto;
	}
}