.single-post {

	.wp-block-post-terms {
		display: flex;
		gap: var(--wp--preset--spacing--3);

		&__separator {
			display: none;
		}
	}

	.comment-reply-title {
		padding-top: var(--wp--preset--spacing--7);
	}
}

.wp-block-post-terms {

	&.is-style-btn-outline {

		a {
			@include btn;
			@include btn-s;
			border: 1px solid;
			border-color: var(--wp--preset--color--neutral-quarternary);
			color: var(--wp--preset--color--dark);
			fill: var(--wp--preset--color--dark);
			border-radius: var(--global--border-radius-round);

			&:hover {
				background-color: var(--wp--preset--color--neutral-tertiary) !important;
			}
		}

	}
}

/* Comments Reply */
.comment-form-cookies-consent {
	position: relative;
}