.nav-float {
	margin-top: 2rem;
	position: fixed;
	right: 0;
	z-index: 1000;
	margin-right: var(--outer--gap) !important;

	//Floating navigation blur
	@media only screen and (min-width:600px) {
		backdrop-filter: blur(20px);
	}

	.wp-block-navigation__container {

		.wp-block-navigation-item:not(:last-child) {
			margin-right: var(--wp--preset--spacing--1);
		}

		@media (min-width: 600px) {
			.wp-block-navigation-item__content {
				padding: 8px 14px;
				border-radius: 100px;
				border: 1px solid transparent;

				&:hover {
					text-decoration: none;
					border: 1px solid var(--wp--preset--color--font-primary);
				}
			}
		}
	}

	&.variant {
		.wp-block-navigation__container {

			.wp-block-navigation-item__content {

				@media (min-width: 600px) {
					&:hover {
						border: 1px solid var(--wp--preset--color--variant-font-primary);
					}
				}
			}
		}
	}
}

// Raised button style
.wp-block-ainoblocks-button {

	&.is-style-raised {
		box-shadow: -4px 4px 0px 0 var(--wp--preset--color--button-color-primary);
		border-width: 1px;
		border-style: solid;
		transition: all 150ms ease;

		&:hover {
			box-shadow: none;
			transform: translate(-4px, 4px);
			color: inherit;
		}
	}

	&.is-style-raised.variant {
		box-shadow: -4px 4px 0px 0 var(--wp--preset--color--variant-button-color-primary);
	}
}

.wp-block-social-links {

	&.is-style-large-raised {

		.wp-social-link {
			width: 3rem;
			height: 3rem;
			transition: all 150ms ease;
			box-shadow: -4px 4px 0px 0 var(--wp--preset--color--button-color-primary);
			border: 1px solid var(--wp--preset--color--button-color-primary);
			background-color: var(--wp--preset--color--primary);

			&:hover {
				transform: scale(1);
				box-shadow: none;
				transform: translate(-4px, 4px);
				background-color: var(--wp--preset--color--secondary) !important;
				color: var(--wp--preset--color-tertiary) !important;
			}

			.wp-block-social-link-anchor,
			button {
				display: flex;
				width: 3rem;
				height: 3rem;
				justify-content: center;
				align-items: center;
				border-radius: 100px;

				svg {
					height: 1.6rem;
					width: 1.6rem;
				}
			}

			@include breakpoint(sm) {
				width: 3.625rem;
				height: 3.625rem;

				.wp-block-social-link-anchor,
				button {
					width: 3.625rem;
					height: 3.625rem;
				}
			}
		}
	}

	&.is-style-large-raised.variant {
		.wp-social-link {
			box-shadow: -4px 4px 0px 0 var(--wp--preset--color--variant-button-color-primary);
			border-color: var(--wp--preset--color--variant-button-color-primary);
			background-color: var(--wp--preset--variant-color--primary);

			&:hover {
				background-color: var(--wp--preset--color--variant-secondary) !important;
				color: var(--wp--preset--color--variant-tertiary) !important;
			}
		}
	}
}

.img-raised {
	box-shadow: -9px 9px 0px 0 var(--wp--preset--color--button-color-primary);
	transition: all 300ms ease;

	.ext-link-icon {
		opacity: 0;
		transition: all 300ms ease;
	}

	&:hover {
		box-shadow: none;
		transform: translate(-9px, 9px);

		.ext-link-icon {
			opacity: 100;
		}
	}
}