.is-style-scale-100-130 {

	img {
		transition: all 0.16s cubic-bezier(0.32, 0, 0.16, 1);

		&:hover {
			transform: scale(1.03);
		}
	}
}

.is-style-bright-70-100 {

	img {
		transition: all .2s ease;
		filter: brightness(70%);

		&:hover {
			filter: brightness(100%);
		}
	}
}

.is-style-bright-100-80 {

	img {
		transition: all .2s ease;

		&:hover {
			filter: brightness(80%);
		}
	}
}

.is-style-bright-100-120 {

	img {
		transition: all .2s ease;

		&:hover {
			filter: brightness(120%);
		}
	}
}

// Styles via CSS classes only (improve to select via settings, when styles can be combined)
.is-style-shadow-a {
	img,
	video {
		box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.05);
	}
}

.is-style-shadow-b {
	img,
	video {
		box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.5);
	}
}

.is-style-shadow-c {
	img,
	video {
		box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.1);
	}
}

.is-style-shadow-d {
	img,
	video {
		box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.5);
	}
}

.is-style-shadow-e {
	img,
	video {
		box-shadow: 0px 32px 96px rgba(0, 0, 0, 0.2);
	}
}

.is-style-shadow-f {
	img,
	video {
		box-shadow: 0px 32px 96px rgba(0, 0, 0, 0.5);
	}
}

.is-style-shadow-g {
	img,
	video {
		box-shadow: 0px 2px 4px -2px rgba(0, 0, 0, 0.05), 0px 4px 8px -2px rgba(0, 0, 0, 0.05);
	}
}

.is-style-shadow-h {
	img,
	video {
		box-shadow: 0px 2px 4px -2px rgba(0, 0, 0, 0.5), 0px 4px 8px -2px rgba(0, 0, 0, 0.5);
	}
}

.has-shadow-a {
	box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.05);
}

.has-shadow-b {
	box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.5);
}

.has-shadow-c {
	box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.1);
}

.has-shadow-d {
	box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.5);
}

.has-shadow-e {
	box-shadow: 0px 32px 96px rgba(0, 0, 0, 0.2);
}

.has-shadow-f {
	box-shadow: 0px 32px 96px rgba(0, 0, 0, 0.5);
}

.has-shadow-g {
	box-shadow: 0px 2px 4px -2px rgba(0, 0, 0, 0.05), 0px 4px 8px -2px rgba(0, 0, 0, 0.05);
}

.has-shadow-h {
	box-shadow: 0px 2px 4px -2px rgba(0, 0, 0, 0.5), 0px 4px 8px -2px rgba(0, 0, 0, 0.5);
}