.wp-block-query {

	.wp-block-post-template {
		padding: 0;

		.wp-block-post-terms {
			display: flex;
			flex-wrap: wrap;
			gap: var(--wp--preset--spacing--3);

			&__separator {
				display: none;
			}
		}

		&.columns-2 {

			@include breakpoint(sm) {
				display: grid;
				grid-template-columns: repeat(2, 1fr);

				li {
					grid-template-columns: 1fr 1fr;
				}
			}
		}

		li {
			width: 100% !important;
			margin: 0;
		}

		&.columns-3 {
			@include breakpoint(sm) {
				display: grid;
				grid-template-columns: repeat(3, 1fr);
			}
		}

		&.columns-4 {
			display: grid;
			grid-template-columns: repeat(2, 1fr);

			li {
				grid-template-columns: 1fr 1fr;
			}

			@include breakpoint(sm) {
				grid-template-columns: repeat(4, 1fr);

				li {
					grid-template-columns: 1fr 1fr 1fr 1fr;
				}
			}
		}

		&.columns-5 {

			@include breakpoint(sm) {
				display: grid;
				grid-template-columns: repeat(3, 1fr);

				li {
					grid-template-columns: 1fr 1fr 1fr;
				}
			}

			@include breakpoint(md) {
				display: grid;
				grid-template-columns: repeat(5, 1fr);

				li {
					grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
				}
			}
		}

		&.columns-6 {

			@include breakpoint(sm) {
				display: grid;
				grid-template-columns: repeat(3, 1fr);

				li {
					grid-template-columns: 1fr 1fr 1fr;
				}
			}

			@include breakpoint(md) {
				grid-template-columns: repeat(6, 1fr);

				li {
					grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
				}
			}

			@include breakpoint(lg) {
				.wp-block-post {
					&:nth-last-of-type(-n+6) {
						padding-bottom: 0;
					}
				}
			}
		}

		&.columns-5,
		&.columns-6 {

			.wp-block-post {
				display: grid;
				grid-template-columns: repeat(12, 1fr);
				gap: .75rem;

				.wp-block-post-featured-image {
					grid-column-start: 1;
					grid-column-end: 5;
				}

				.entry-header {
					grid-column-start: 5;
					grid-column-end: 13;
					justify-self: stretch;
				}

				@include breakpoint(sm) {
					display: block;
				}
			}

			@include breakpoint(sm) {

				.wp-block-post {
					display: block;
				}
			}
		}

	}
}

// Post Authors
.post-meta,
.wp-block-query {

	.wp-block-post-author {
		display: flex;
		align-items: center;
	
		&:after {
			content: "";
		}
	
		&__avatar {
	
			img {
				border-radius: 50%;
			}
		}
	
		&__byline,
		&__name {
			display: inline;
		}

		&__byline {
			font-size: inherit;
		}
	}
}

.post-meta,
.one-col-img-large,
.one-col-img-overlay,
.two-col-img-overlay {

	.wp-block-post-author {

		&__avatar {
			@include avatar-m;
			margin-right: 0.75rem;
		}
	}

	.wp-block-post-terms {

		a:not(:last-child) {
			margin-right: var(--wp--preset--spacing--4);
		}
	}
}

// Small, medium, lager grid gaps
.wp-block-post-template.gap-s {
	gap: 1rem;
}

.wp-block-post-template.gap-m {
	gap: 1rem;

	@media (min-width: 48rem) {
		gap: 1.5rem;
	}
}

.wp-block-post-template.gap-l {
	gap: 1.25rem;

	@media (min-width: 48rem) {
		gap: 2rem;
	}
}

.wp-block-post-template.gap-xl {
	gap: 1.5rem;

	@include breakpoint(sm) {
		gap: 2rem;
	}

	@include breakpoint(md) {
		gap: 3rem;
	}
}

.wp-block-post-author__avatar {
	margin-right: 0.75em;
}

@media (min-width: 48rem) {
.small-img-left {
display: grid;
grid-template-columns: 1fr 1fr 1fr;


	.ab-grid-block.col-gap-xl {
		column-gap: 0 !important;
	}
}
}

@include breakpoint(lg) {
	.small-img-left {
	display: grid;
	grid-template-columns: 1fr;
	
	
		.ab-grid-block.col-gap-xl {
			column-gap: 3rem !important;
		}
	}
}