.woocommerce-account {

	h3 {
		padding: var(--wp--preset--spacing--6) 0 var(--wp--preset--spacing--2);
	}

	address {
		padding: var(--wp--preset--spacing--6) 0;
	}

	.edit-account {
		input {
			width: 100%;
		}

		em {
			display: block;
			padding-top: var(--wp--preset--spacing--2);
		}
	}

	.site-content .woocommerce {
		h2 {
			padding: 0;
		}

		.u-column2 {
			padding-top: var(--wp--preset--spacing--10);
		}
	}

	.woocommerce-form-login__rememberme {
		display: flex;
		align-items: center;
		margin-bottom: var(--wp--preset--spacing--6);
	}

	.woocommerce-MyAccount-content {

		.woocommerce-message {
			margin-bottom: 0 !important;
		}
	}

	.woocommerce-form .woocommerce-button,
	.input-text {
		width: 100% !important;
	}

	.woocommerce-LostPassword a {
		display: inline-block;
	}

	.col2-set {
		display: block;
		padding: var(--wp--preset--spacing--6) 0;

		.u-column2 {
			padding-top: var(--wp--preset--spacing--12);
		}

		@include breakpoint(md) {
			display: flex;
			justify-content: space-between;

			.u-column1,
			.u-column2 {
				flex-grow: 1;
				flex-basis: 0;
			}

			.u-column1 {
				padding: 0 var(--wp--preset--spacing--11);
				border-right: 1px solid var(--wp--preset--color--border-secondary);
			}

			.u-column2 {
				padding: 0 var(--wp--preset--spacing--11);
			}
		}
	}

	&.woocommerce-lost-password {

		.woocommerce {
			max-width: 24.375rem; //390px
			@include push--auto;
		}
	}
}