// Cart Shortcode
.shop_table {
	font-size: 16px;

	td, th {
		border: 0px solid;
	}

	tr {
		border-bottom: 1px solid var(--wp--preset--color--border-secondary);
	}

	.cart_item {
		&:first-of-type {
			border-top: 1px solid var(--wp--preset--color--border-secondary);
		}
	}

	.product-thumbnail {
		max-width: 120px;
	}

	.coupon {
		border-bottom: 1px solid var(--wp--preset--color--border-secondary);
		margin-bottom: var(--wp--preset--spacing--6);
		padding-bottom: var(--wp--preset--spacing--6);
	}
}

.select2-container .select2-selection--single {
	height: 40px;
}

.shipping-calculator-button {
	display: inline-block;
}

.cart-collaterals {
	padding-top: var(--wp--preset--spacing--11);
}

.woocommerce-shipping-methods,
.wc_payment_methods {
	list-style: none;

	li {
		padding: var(--wp--preset--spacing--1) 0;

		label {
			padding-left: var(--wp--preset--spacing--1);
			font-size: var(--wp--preset--font-size--text-xs) !important;
			display: inline-block;
		}
	}
}

.payment_box {
	font-size: var(--wp--preset--font-size--text-xs) !important;
}

.payment_method_paypal {
	img {
		max-width: 120px;
	}
}

.order_review_heading,
.wc-proceed-to-checkout {
	padding-top: var(--wp--preset--spacing--6);
}

.shipping-calculator-form {
	input {
		width: 100%;
		border-radius: var(--global--border-radius-xxs);
	}
}

// Checkout Shortcode
.col-1, .col-2 {

	input {
		width: 100%;
		border-radius: var(--global--border-radius-xxs);
	}

	.input-checkbox {
		width: auto;
	}
}

.col2-set {
	padding-bottom: var(--wp--preset--spacing--9);
}

.woocommerce-form__label-for-checkbox {
	display: flex;
}

.wp-element-button {
	border-radius: var(--global--border-radius-xxs);
}

.col-2 .woocommerce-shipping-fields,
.col-1,
.woocommerce-checkout .woocommerce-notices-wrapper  {
	padding-top: var(--wp--preset--spacing--6);
}

.woocommerce-terms-and-conditions-wrapper {
	padding-bottom: var(--wp--preset--spacing--6);
}

.select2-container--default .select2-selection--single,
.checkout_coupon input {
	border-radius: var(--global--border-radius-xxs);
	border: 1px solid var(--wp--preset--color--border-secondary);
	min-height: 3.5rem;
	padding: calc(0.938rem - 2px);
	font-size: 1rem;
	width: 100%;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
	min-height: 3.5rem;
}

.checkout_coupon p {
	font-size: 1rem;
}