.wc-block-mini-cart {

	&__button {
		position: relative;
		cursor: pointer;
		padding: 0;
		height: 40px;
		width: 40px;

		&:after {
			content: "";
			display: block;
			position: absolute;
			top: 8px;
			left: 8px;
			transition: all 0.2s ease-in-out;
			opacity: 1;
			height: 24px;
			width: 24px;
			background-image: url(/assets/images/cart.svg) !important;
			background-repeat: no-repeat;
			z-index: 100;
		}

		&:hover:not([disabled]) {
			opacity: 1;
		}
	}

	&__amount,
	&__tax-label,
	&__icon {
		display: none;
	}

	&__badge {
		position: absolute;
		bottom: 0;
		right: 0;
		top: 2px;
		left: 0;
		color: var(--wp--preset--color--font-primary);
		border: none;
		font-size: 0.625rem;
		line-height: var(--global--line-height-reset);
		font-weight: 400;
		transform: translateY(0);
		height: 40px;
		margin-left: 0;
		min-width: 40px;
	}

	&__drawer .components-modal__header {
		position: absolute;
		right: 1.5rem;
		top: 2rem;
	}

	&__title {
		margin: 2rem 1.5rem 0;
	}

	&__items {
		padding: 1.5rem 1.5rem 0;
	}

	&__footer {
		border-top: 1px solid var(--wp--preset--color--border-secondary);
		padding: 2rem 1.5rem;
	}

	&__empty-cart-wrapper {
		p {
			padding-bottom: var(--wp--preset--spacing--6);
		}
	}

	// Hide mini cart icon in header, if set to invisible
	&[style="visibility:hidden"] {
		display: none;
	}

	&__drawer {

		.components-modal__header {

			button {
				overflow: hidden;
				font-size: 0;
			}
		}
	}
}

.wc-block-components-drawer .components-modal__header .components-button {
	margin: 0;
	padding: 0;
	cursor: pointer;
}

.wc-block-cart-item__quantity {

	.wc-block-cart-item__remove-link {
		position: relative;
		text-indent: -9000px;
		cursor: pointer;
		width: 1rem;
		height: 1rem;
		font-size: 1rem;

		&:after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			transition: all 0.2s ease-in-out;
			height: 1rem;
			width: 1rem;
			background-image: url(/assets/images/bin16px.svg) !important;
			background-repeat: no-repeat;
			background-position: center center;
			z-index: 100;
		}
	}
}

.wc-block-mini-cart-items {

	.wc-block-cart-items__row {
		padding: 0.5rem 0 !important;
		grid-template-columns: 104px 132px !important;

		.wc-block-cart-item {

			&__quantity {
				padding-right: 0.5rem !important;
				padding-top: 0.5rem !important;
			}

			&__product {
				padding-bottom: 0 !important;
			}
		}

		.wc-block-components-product-metadata {
			margin-bottom: 0 !important;
		}
	}
}

.wc-block-components-product-metadata {

	&__description {
		color: var(--wp--preset--color--font-tertiary);

		p {
			padding-top: 0 !important;
		}
	}

	.wc-block-components-product-metadata__description>p,
	.wc-block-components-product-metadata__variation-data {
		margin: 0;
	}
}