.filters-container {

	h3 {
		margin: 0 !important;
		padding-bottom: var(--wp--preset--spacing--6);
	}

	.wc-block-stock-filter {
		margin-bottom: 0;
	}

	.wc-block-attribute-filter {
		margin-bottom: 0;
	}

	.wc-block-product-categories-list {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.wc-block-checkbox-list {
		
		li {
			display: flex;
			align-items: center;

			label {
				.wc-filter-element-label-list-count {
					opacity: 1;
				}
			}
		}
	}

	.wc-block-product-categories-list {

		.wc-block-product-categories-list-item:not(:last-child) {
			padding-bottom: var(--wp--preset--spacing--2);
		}

		.wc-block-product-categories-list--depth-1 {
			padding-top: var(--wp--preset--spacing--2);
		}
	}

	.wc-filter-element-label-list-count,
	.wc-block-product-categories-list-item-count {
		margin-left: 4px;
		color: var(--wp--preset--color--neutral-secondary);
		background: var(--wp--preset--color--neutral-tertiary);
		padding: 2px 5px;
		border-radius: 50%;
		line-height: var(--global--line-height-reset);

		&:before,
		&:after {
			display: none;
		}
	}

	// Active filters
	.wc-block-active-filters {

		.wc-block-active-filters__list {
			margin-bottom: var(--wp--preset--spacing--2);

			.wc-block-components-chip {
				font-size: 1rem;
				background: none;
				color: currentColor;
				border: 1px solid var(--wp--preset--color--neutral-quarternary);
				border-radius: var(--global--border-radius-xxxs);
				padding-top: 3px;
				padding-bottom: 3px;
				margin: 0 0.5rem 0.5em 0;

				&.wc-block-components-chip.is-removable {
					padding-right: 6px;
				}

				&.wc-block-components-chip--radius-large {
					padding-left: 6px;
					padding-right: 6px;
				}

				.wc-block-components-chip__remove {
					cursor: pointer;
				}
			}
		}

		.wc-block-active-filters__clear-all {
			text-decoration: none;
			margin-top: 0;
		}
	}
}

.wc-block-components-price-slider {
	position: relative;

	&__controls {
		position: relative;
		gap: 8px;
		margin: 0;
		padding-top: 24px;

		.wc-block-components-price-slider__amount {
			border: 1px solid var(--wp--preset--color--input-border) !important;
			border-radius: var(--global--border-radius-xxs) !important;
			min-height: 40px;
		}
	}

	.wc-block-components-price-slider__range-input-wrapper {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		display: block;
		height: 3px;
		background: var(--wp--preset--color--neutral-quarternary);
		box-shadow: none;
		border-radius: 0px 100px 100px 0px;
		margin-top: 0;
	}

	&__actions {
		margin-top: var(--wp--preset--spacing--4);
		justify-content: flex-start;
	}
}

.wc-block-components-checkbox {
	margin-top: 0;
}