.single-product {

	.woocommerce-breadcrumb {
		display: none;

		@include breakpoint(md) {
			display: block;
			padding-bottom: var(--wp--preset--spacing--4);
		}
	}

	div.product {
		position: relative;
		margin-top: var(--wp--preset--spacing--6);

		@include breakpoint(sm) {
			display: grid;
			grid-template-columns: repeat(12, 1fr);
			column-gap: var(--wp--preset--spacing--4);
		}
	}

	.woocommerce-product-gallery {
		position: relative;
		grid-column: 1 / 13;
		padding: 0 0 var(--wp--preset--spacing--6);

		&__trigger {
			position: absolute;
			top: var(--wp--preset--spacing--4);
			right: var(--wp--preset--spacing--4);
			z-index: 10;
			font-size: 0;
			background: var(--wp--preset--color--neutral-quinary);
			border-radius: 100%;
			display: block;
			width: 2.5rem;
			height: 2.5rem;

			&::before,
			&::after {
				content: "";
				position: absolute;
				display: block;
				background: var(--wp--preset--color--font-primary);
				z-index: 9;
			}

			&::after {
				height: 1px;
				margin-top: -1px;
				top: 50%;
				left: 12px;
				right: 12px;
			}

			&::before {
				width: 1px;
				margin-left: -1px;
				left: 50%;
				top: 12px;
				bottom: 12px;
			}
		}

		@include breakpoint(md) {
			margin-right: var(--wp--preset--spacing--9);
			grid-column-end: 9;
		}

		.flex-control-nav {
			display: flex;
			justify-content: flex-start;
			padding-top: var(--wp--preset--spacing--4);
			gap: var(--wp--preset--spacing--5);

			li {
				&::marker {
					content: "";
				}
			}
		}
	}

	.onsale {
		position: absolute;
		top: var(--wp--preset--spacing--4);
		left: var(--wp--preset--spacing--4);
		right: auto;
	}

	.related {

		.onsale {
			right: var(--wp--preset--spacing--4);
			left: auto;
		}
	}

	// Product details with Add to Cart button
	.entry-summary {
		position: relative;
		grid-column: 1 / 13;

		@include breakpoint(md) {
			grid-column: 9 / 13;
		}

		.woocommerce-product-details__short-description,
		.price,
		.cart,
		.out-of-stock {
			padding-bottom: var(--wp--preset--spacing--5);
		}

		.woocommerce-product-rating,
		.price {
			padding-top: var(--wp--preset--spacing--5);
		}

		.cart {
			padding-top: 7px;

			&:not(.grouped_form):not(.variations_form) {
				display: flex;
				align-content: stretch;
			}

			.quantity:not(.hidden) {
				padding-right: var(--wp--preset--spacing--3);

				.qty {
					max-width: 80px;
					height: 3.5rem;
				}
			}

			.single_add_to_cart_button {
				flex-grow: 2;
			}

			.woocommerce-variation-add-to-cart {
				display: flex;
			}

			.woocommerce-variation-description p {
				padding: 0;
			}
		}

		// Variable Product selection
		.variations {

			th,
			td {
				padding: 0;
				border: 0;
				font-weight: var(--wp--custom--font-weight--body);
			}

			th {
				position: absolute;
				top: -7px;
				left: 17px;
				z-index: 100;
				padding: 0 3px;
				background: var(--wp--preset--color--neutral-quinary);
				line-height: var(--global--line-height-reset);
			}

			td,
			tr {
				position: relative;
				display: block;
			}

			tr {
				padding-bottom: var(--wp--preset--spacing--6);
			}

			.reset_variations {
				display: none !important;
			}

			.value {
				position: relative;

				&::after {
					content: "";
					position: absolute;
					top: 0;
					right: 0.75rem;
					height: 100%;
					width: 1rem;
					background-image: url(/assets/images/arrowdown16px.svg) !important;
					background-repeat: no-repeat;
					background-position: center center;
					z-index: 100;
				}
			}

			select {
				width: 100%;
				height: 3.5rem;
				display: inline-flex;
				justify-content: flex-end;
				padding: 0 1.25rem;
				color: var(--wp--preset--color--text-secondary);
				border: 1px solid var(--wp--preset--color--input-border);
				line-height: var(--global--line-height-reset);
				-webkit-tap-highlight-color: transparent;
				-webkit-appearance: none;
				box-sizing: border-box;
				cursor: pointer;
				overflow: visible;
			}
		}

		.woocommerce-variation-price {
			display: block;
			padding: var(--wp--preset--spacing--6) 0;
		}

		// Grouped product
		.grouped_form {

			.single_add_to_cart_button {
				width: 100%;
				margin-top: var(--wp--preset--spacing--2);
			}

			.woocommerce-grouped-product-list {

				tr,
				td {
					border: none;
					width: 1%;
					white-space: nowrap;
					padding: 0;

					a {
						color: var(--wp--preset--color--font-secondary);
					}
				}

				td {
					padding-bottom: var(--wp--preset--spacing--4);
				}
			}
		}

		.product_meta {
			color: var(--wp--preset--color--font-tertiary);

			.sku_wrapper,
			.posted_in,
			.tagged_as {
				display: block;
			}
		}
	}

	.woocommerce-tabs {
		width: 100%;
		grid-column: 1 / 13;
		padding-top: var(--wp--preset--spacing--10);
		padding-bottom: var(--wp--preset--spacing--14);
		margin: 0 auto;

		.wc-tabs {
			grid-column: 1 / 13;
			list-style: none;
			display: flex;
			flex-direction: column;
			gap: var(--wp--preset--spacing--3);
			padding-bottom: var(--wp--preset--spacing--10);

			li {

				a {
					@include btn;
					@include btn-s;
					@include btn-tab-clean;
					@include focus-visible;
				}

				&.active a {
					background: var(--wp--preset--color--neutral-tertiary);
				}
			}

			@include breakpoint(sm) {
				flex-direction: row;
			}
		}

		.woocommerce-Tabs-panel {

			>h2 {
				display: none;
			}
		}

		.woocommerce-Reviews-title {
			padding-bottom: var(--wp--preset--spacing--6);
		}

		.commentlist {
			padding: 0;

			.review {

				.avatar {
					display: none;
				}

				&::marker {
					content: "";
				}

				&:not(:last-child) {
					padding-bottom: var(--wp--preset--spacing--9);
				}
			}
		}

		.comment-text {

			.woocommerce-review__author {
				display: block;
				padding-bottom: var(--wp--preset--spacing--1);
			}

			.woocommerce-review__dash {
				display: none;
			}

			.meta {
				display: inline-flex;
				justify-content: center;
				gap: var(--wp--preset--spacing--2);
				color: var(--wp--preset--color--font-tertiary);
				line-height: var(--global--line-height-reset);
			}

			.description {
				padding-bottom: var(--wp--preset--spacing--6);

				p:last-child {
					padding-bottom: 0;
				}
			}

			.meta {

				.woocommerce-review__author {
					font-weight: normal;
				}
			}
		}

		.comment-reply-title {
			display: block;
			padding: 16px 0;
		}


		// Review Ratings
		.comment-form-rating {

			.stars {
				padding-top: 0;
				padding-bottom: 0;

				span {
					display: inline;
				}

				a {
					margin-right: var(--wp--preset--spacing--2);
					text-decoration: none;
					display: inline;
					transition: none;
					font-size: 0;
					opacity: .4;
					color: var(--wp--preset--color--rating-stars);
					margin: 0;

					&:before {
						display: inline-block;
						content: '\2605';
						line-height: 1;
						font-size: 24px;
					}
				}
			}

			#rating {
				max-height: 3.75rem;
			}
		}
	}

	.star-rating {
		position: relative;
		display: inline-flex;
		justify-content: center;
		line-height: var(--global--line-height-reset);
	}

	.star-rating span {
		overflow: hidden;
		float: left;
		top: 0;
		left: 0;
		position: absolute;
		color: var(--wp--preset--color--rating-stars);
	}

	.stars a,
	.stars.selected a.active~a {
		opacity: .4;
	}

	.stars.selected a.active,
	.stars.selected a:not(.active) {
		opacity: 1;
	}

	.star-rating:before,
	.wc-block-review-list-item__rating>.wc-block-review-list-item__rating__stars:before {
		content: '\2605\2605\2605\2605\2605';
		color: var(--wp--preset--color--rating-stars);
		letter-spacing: 0;
		padding-bottom: var(--wp--preset--spacing--1);
		opacity: .4;
		font-size: 14px;
		line-height: 1;
	}

	.star-rating span {
		font-size: 0;
		overflow: hidden;
		display: inline;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 1;
	}

	.star-rating span {

		&::before {
			content: '\2605\2605\2605\2605\2605';
			color: var(--wp--preset--color--rating-stars);
			letter-spacing: 0;
			opacity: 1;
			font-size: 14px;
			line-height: 1;
		}

		span {
			display: none;
		}
	}

	// Related products
	.related.products {
		padding-top: var(--wp--preset--spacing--11);
		grid-column: 1 / 13;

		ul {
			padding-top: var(--wp--preset--spacing--6);
			list-style: none;
		}

		.product {
			position: relative;
		}
	}
}

.comment-form-cookies-consent {
	display: flex;
}

// Related Products columns
.related .products {
	display: grid;
	column-gap: var(--wp--preset--spacing--4);
	row-gap: var(--wp--preset--spacing--10);

	.woocommerce-loop-product__title {
		display: flex;
	}

	.price {
		padding-top: 2px;
		display: flex;
		align-items: center;

		del {
			padding-right: 8px;
		}
	}
}