.wc-block-product-categories-list-item-count,
.wc-filter-element-label-list-count,
.wc-block-components-order-summary-item__quantity,
.wc-block-components-validation-error,
.wc-block-cart-items td .wc-block-components-product-badge,
.woocommerce-privacy-policy-text {
	font-size: var(--wp--preset--font-size--text-xxxs) !important;
}

.single-product .product_meta,
.woocommerce-breadcrumb,
.wc-block-components-product-metadata,
.wc-block-components-quantity-selector__input,
.wc-block-mini-cart__footer .wc-block-components-totals-item__description,
.wc-block-components-product-metadata__description,
.entry-content p.wc-block-components-checkout-step__description,
.wc-block-checkout__terms,
.components-notice__content,
.wc-block-components-radio-control-accordion-content,
.wc-block-components-radio-control__description,
.wc-block-components-radio-control__secondary-description,
.woocommerce-notices-wrapper,
.woocommerce-info,
.onsale,
.comment-text .meta,
.product .price,
.wc-block-grid__product-price,
.comment-notes,
.wc-block-active-filters__clear-all,
.wc-block-components-filter-reset-button,
.woocommerce-noreviews,
.wc-block-grid__product-onsale,
.woocommerce-review-link,
.wc-block-cart-items .price,
.wc-block-components-quantity-selector input.wc-block-components-quantity-selector__input {
	font-size: var(--wp--preset--font-size--text-xxs) !important;
}

.wc-block-components-checkout-step__heading-content,
.filters-container,
.wc-block-grid__product-title,
.wp-block-woocommerce-mini-cart-contents h2,
.products-container .wc-block-components-sort-select__select,
.woocommerce-ordering .orderby,
.wc-block-components-checkout-return-to-cart-button,
.woocommerce-notice--success,
.products .woocommerce-loop-product__title,
.wc-block-featured-category__title,
.wc-block-featured-category__description,
.wc-block-components-panel__button,
.wc-block-components-sidebar .wc-block-components-totals-item,
.wc-block-components-radio-control__label-group {
	font-size: var(--wp--preset--font-size--text-xs) !important;
}

.single-product .entry-summary .price,
.woocommerce-loop-product__link h2,
.wc-block-components-title.wc-block-components-title,
.entry-content p.has-l-font-size,
.entry-content .wp-block-post-excerpt.has-l-font-size p,
.entry-content .wp-block-post-terms.has-l-font-size,
.wc-block-cart-items .wc-block-cart-items__header,
.woocommerce-order-details__title,
.woocommerce-column__title,
.related.products h2:not(.woocommerce-loop-product__title),
.woocommerce-Reviews-title,
.woocommerce-products-header h1,
.woocommerce-MyAccount-content h3,
.woocommerce-account .wp-block-group h2,
.cart_totals h2,
.wp-block-woocommerce-cart .order-total {
	font-size: var(--wp--preset--font-size--text-l) !important;
}

.product_title.entry-title {
	font-size: var(--wp--preset--font-size--text-xl) !important;
}

.wc-block-grid__product-title,
.wc-block-cart-items .wc-block-cart-items__header th,
.comment-reply-title,
.wc-block-components-checkout-step__heading-content a {
	font-weight: var(--wp--custom--font-weight--heading);
}

.wc-block-components-order-summary-item__total-price,
.wc-block-components-totals-item__value,
.wc-block-checkout__payment-method .wc-block-components-radio-control__option-checked {
	font-weight: var(--wp--custom--font-weight--body);
}

.wc-block-checkout__actions .wc-block-components-checkout-place-order-button .wc-block-components-button__text,
.single-product .summary .price {
	line-height: var(--global--line-height-reset);
}

.wc-block-grid__product-image,
.woocommerce-LoopProduct-link {
	line-height: 0;
}

.woocommerce-loop-product__title,
.wc-block-grid__product-title,
.product .price {
	line-height: var(--wp--custom--line-height--body);
}

.wp-block-woocommerce-checkout-terms-block,
.wc-block-components-checkout-step__description,
.components-notice__content,
.wc-block-components-radio-control__secondary-description,
.wc-block-components-product-details,
.wc-block-components-totals-item__description,
.woocommerce-privacy-policy-text p {
	line-height: var(--wp--custom--line-height--body);
}

.wc-block-cart__totals-title {
	text-transform: none !important;
}

// Text links
.wc-block-components-checkout-step__heading-content a {
	color: var(--wp--preset--color--quarternary);
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}