.wc-block-featured-category {
	align-content: flex-end;

	// Temporary solution to adjust min height of images and overlay
	@media only screen and (min-device-width : 320px) and (max-device-width : 768px){
		min-height: 500px !important;
	}

	.wc-block-featured-category {

		&__wrapper {
			align-content: flex-end;
			padding: var(--wp--preset--spacing--9);
		}
		
		&__title {
			text-align: left;
			padding: 0;
		}

		&__link,
		&__description {
			text-align: left;
			padding: var(--wp--preset--spacing--6) 0 0 0;
		}

		&__description p {
			padding: 0;
		}
	}

	.wp-block-button {

		.wp-block-button__link {
			@include btn;
			@include btn-s;
		}
	}
}