// Tab button styles
.is-style-tab-fill {

	.wp-block-ainoblocks-button__link {
		background: var(--wp--preset--color--neutral-tertiary);
		color: var(--wp--preset--color--font-primary);

		&:hover {
			background: var(--wp--preset--color--neutral-quarternary);
		}
	}

	&.active {

		.wp-block-ainoblocks-button__link {
			color: var(--wp--preset--color--light);
			background: var(--wp--preset--color--neutral-primary);
		}
	}

	&.variant {

		.wp-block-ainoblocks-button__link {
			background: var(--wp--preset--color--variant-neutral-tertiary);
			color: var(--wp--preset--color--variant-font-primary);
	
			&:hover {
				background: var(--wp--preset--color--variant-neutral-quarternary);
			}
		}

		&.active {
	
			.wp-block-ainoblocks-button__link {
				color: var(--wp--preset--color--dark);
				background: var(--wp--preset--color--variant-neutral-primary);
			}
		}
	}
}

.pagination-wrap {

	.wp-block-query-pagination,
	.wp-block-query-pagination-numbers {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 0.75rem;
		margin: 0;

		.page-numbers:not(.dots),
		.wp-block-query-pagination-previous,
		.wp-block-query-pagination-next {
			@include btn;
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 0;
		}

		.wp-block-query-pagination-previous,
		.page-numbers:not(.current),
		.wp-block-query-pagination-next {
			@include btn-tab;
		}

		.page-numbers {
			font-size: 1rem;
			padding: 0.75rem 1rem;
			border-radius: var(--global--border-radius-xxs);
			max-height: 2.625rem; //42px
		}

		.page-numbers.dots {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.wp-block-query-pagination-previous,
		.wp-block-query-pagination-next {
			display: none;
			font-size: 1rem;
			padding: 0.75rem 1rem;
			border-radius: var(--global--border-radius-xxs);
		}

		@include breakpoint(md) {

			.wp-block-query-pagination-previous,
			.wp-block-query-pagination-next {
				display: flex;
			}
		}

		.page-numbers.current,
		.page-numbers.current:hover {
			background-color: var(--wp--preset--color--variant-background-primary);
			border-color: var(--wp--preset--color--variant-background-primary);
			color: var(--wp--preset--color--variant-font-primary);
		}
	}

}