<!-- wp:template-part {"slug":"header","area":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"var:preset|spacing|14","bottom":"var:preset|spacing|14","left":"var:preset|spacing|9","right":"var:preset|spacing|9"}}},"className":"site-main","layout":{"type":"default"}} -->
<main class="wp-block-group site-main" style="padding-top:var(--wp--preset--spacing--14);padding-right:var(--wp--preset--spacing--9);padding-bottom:var(--wp--preset--spacing--14);padding-left:var(--wp--preset--spacing--9)"><!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"right":"var:preset|spacing|default","bottom":"var:preset|spacing|12","left":"var:preset|spacing|default"}}},"className":"site-content","layout":{"type":"default"}} --><div class="wp-block-group alignwide site-content" style="padding-right:var(--wp--preset--spacing--default);padding-bottom:var(--wp--preset--spacing--12);padding-left:var(--wp--preset--spacing--default)">

</div>
	<!-- /wp:group -->
	<!-- wp:pattern {"slug":"yumi/posts"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer","tagName":"footer"} /-->
