<!-- wp:template-part {"slug":"header","area":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","align":"full","layout":{"type":"default"}} -->
<main class="wp-block-group alignfull"><!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|12"}}},"layout":{"type":"constrained"}} -->
	<div class="wp-block-group" style="padding-top:var(--wp--preset--spacing--12)"><!-- wp:post-date {"style":{"typography":{"fontStyle":"normal","fontWeight":"600"}},"textColor":"font-secondary","fontSize":"text-xxs"} /-->
	
	<!-- wp:post-title {"level":1,"style":{"spacing":{"padding":{"top":"var:preset|spacing|6","right":"var:preset|spacing|default","left":"var:preset|spacing|default"}}},"textColor":"font-primary"} /-->
	
	<!-- wp:post-featured-image {"style":{"spacing":{"margin":{"top":"var:preset|spacing|12"}}}} /-->
	
	<!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|6","bottom":"var:preset|spacing|6"}}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
	<div class="wp-block-group" style="padding-top:var(--wp--preset--spacing--6);padding-bottom:var(--wp--preset--spacing--6)"><!-- wp:post-author {"showBio":false,"byline":"by ","style":{"typography":{"fontStyle":"normal","fontWeight":"600"},"layout":{"selfStretch":"fit","flexSize":null}},"textColor":"font-secondary","fontSize":"text-xxs"} /--></div>
	<!-- /wp:group -->
	
	<!-- wp:separator {"style":{"spacing":{"margin":{"bottom":"var:preset|spacing|9"}}},"backgroundColor":"border-secondary","className":"is-style-wide"} -->
	<hr class="wp-block-separator has-text-color has-border-secondary-color has-alpha-channel-opacity has-border-secondary-background-color has-background is-style-wide" style="margin-bottom:var(--wp--preset--spacing--9)"/>
	<!-- /wp:separator --></div>
	<!-- /wp:group -->
	
	<!-- wp:post-content {"className":"post-content","layout":{"type":"constrained"},"fontSize":"text-m"} /-->
	
	<!-- wp:group {"style":{"spacing":{"padding":{"bottom":"var:preset|spacing|12"}}},"layout":{"type":"constrained"},"metadata":{"name":"Post Footer"}} -->
<div class="wp-block-group" style="padding-bottom:var(--wp--preset--spacing--12)"><!-- wp:separator {"style":{"spacing":{"margin":{"top":"var:preset|spacing|7","bottom":"var:preset|spacing|7"}}},"backgroundColor":"border-secondary","className":"is-style-wide"} -->
	<hr class="wp-block-separator has-text-color has-border-secondary-color has-alpha-channel-opacity has-border-secondary-background-color has-background is-style-wide" style="margin-top:var(--wp--preset--spacing--7);margin-bottom:var(--wp--preset--spacing--7)"/>
	<!-- /wp:separator -->
	
	<!-- wp:post-author {"showBio":true,"byline":"By ","style":{"typography":{"fontStyle":"normal","fontWeight":"600"}},"className":"authorbox br__m","fontSize":"text-m"} /-->
	
	<!-- wp:post-terms {"term":"category","separator":"","style":{"typography":{"fontStyle":"normal","fontWeight":"600"}},"textColor":"font-secondary","fontSize":"text-xxs"} /-->
	
	<!-- wp:post-terms {"term":"post_tag","style":{"spacing":{"padding":{"top":"var:preset|spacing|2","right":"var:preset|spacing|default","bottom":"var:preset|spacing|default","left":"var:preset|spacing|default"}}},"textColor":"font-secondary","fontSize":"text-xxs"} /--></div>
	<!-- /wp:group -->
	</main>
	<!-- /wp:group -->

	<!-- wp:pattern {"slug":"yumi/hidden-comments"} /-->
	<!-- wp:pattern {"slug":"yumi/hidden-post-navigation"} /-->

<!-- wp:template-part {"slug":"footer","area":"footer","tagName":"footer"} /-->
