<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"content-gap form-rounded btn-rounded ","layout":{"contentSize":"80rem","inherit":false},"paddingTop":10,"paddingBottom":15} -->
<main class="wp-block-group content-gap form-rounded btn-rounded pt__10 pb__15">
<!-- wp:group {"className":"img-br__xxs","layout":{"inherit":false}} -->
<div class="wp-block-group img-br__xxs">
<!-- wp:woocommerce/legacy-template {"template":"single-product"} /-->
</div>
<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->