<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main"} -->
<main class="wp-block-group">
	<!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|12","bottom":"var:preset|spacing|12","left":"var:preset|spacing|8","right":"var:preset|spacing|8"}}},"className":"form-rounded btn-rounded img-br__xxs","layout":{"contentSize":"68.75rem","type":"constrained"}} -->
	<div class="wp-block-group form-rounded btn-rounded img-br__xxs" style="padding-top:var(--wp--preset--spacing--12);padding-right:var(--wp--preset--spacing--8);padding-bottom:var(--wp--preset--spacing--12);padding-left:var(--wp--preset--spacing--8)"><!-- wp:shortcode -->
		[woocommerce_my_account]
		<!-- /wp:shortcode --></div>
		<!-- /wp:group -->
	</main>
	<!-- /wp:group -->
	
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->